<div class="crud_form">
<h1>Lista Collezioni</h1>

<%= link_to 'Nuova Collezione', new_collection_path %>
<table border="1">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th># Inserzioni</th>
    <th>Categoria</th>
    <th colspan="3">Azioni</th>
  </tr>

<% @collections.each do |collection| %>
  <tr>
    <td><%=h collection.name %></td>
    <td><%=h collection.description %></td>
    <td><%= collection.advertisements.size %></td>
    <td><%= link_to(h(collection.category.name), collection.category) %></td>
    <td><%= link_to 'Show', collection %></td>
    <td><%= link_to 'Edit', edit_collection_path(collection) %></td>
    <td><%= link_to 'Destroy', collection, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuova Collezione', new_collection_path %>
</div>
