<div class="crud_form">
<h1>Listing advertisement_levels</h1>

<%= link_to 'New advertisement_level', new_advertisement_level_path %>
<table border="1">
  <tr>
    <th>Name</th>
    <th># Inserzioni</th>
    <th colspan="3">Azioni</th>
  </tr>

<% @advertisement_levels.each do |advertisement_level| %>
  <tr>
    <td><%=h advertisement_level.name %></td>
    <td><%=h advertisement_level.advertisements.size %></td>
    <td><%= link_to 'Show', advertisement_level %></td>
    <td><%= link_to 'Edit', edit_advertisement_level_path(advertisement_level) %></td>
    <td><%= link_to 'Destroy', advertisement_level, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New advertisement_level', new_advertisement_level_path %>
</div>
