<h1>New cms_controller</h1>
<% form_for(@cms_controller) do |f| %>
    <%= f.error_messages %>
    <p>
        <%= f.label :name %><br />
        <%= f.select :name, @cms_controllers_left %>
    </p>
    <p>
        <%= f.submit 'Create' %>
    </p>
<% end %>

<%= link_to 'Back', cms_controllers_path %>
