<div class="crud_form">
<h1>Editing advertisement_note</h1>

<% form_for(@advertisement_note) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </p>
  <p>
    <%= f.label :advertisement_id %><br />
    <%= f.select :advertisement_id, Advertisement.all_for_select %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @advertisement_note %> |
<%= link_to 'Back', advertisement_notes_path %>
</div>
