<div class="crud_form">
<h1>Listing customers</h1>

<%= link_to 'New customer', new_customer_path %>
<table border="1">
  <tr>
    <th>Name</th>
    <th>Company name</th>
    <th>Vat</th>
    <th>City</th>
    <th>Address</th>
    <th>Civic number</th>
    <th>Telephone</th>
    <th>Email</th>
    <th>Referrer</th>
    <th># Foto</th>
    <th># Inserzioni</th>
    <th colspan="3">Azioni</th>
  </tr>

<% @customers.each do |customer| %>
  <tr>
    <td><%=h customer.name %></td>
    <td><%=h customer.company_name %></td>
    <td><%=h customer.vat %></td>
    <td><%=h customer.city.name %></td>
    <td><%=h customer.address %></td>
    <td><%=h customer.civic_number %></td>
    <td><%=h customer.telephone %></td>
    <td><%=h customer.email %></td>
    <td><%=h customer.referrer %></td>
    <td><%= customer.photos.size %></td>
    <td><%= customer.advertisements.size %></td>
    <td><%= link_to 'Show', customer %></td>
    <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
    <td><%= link_to 'Destroy', customer, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New customer', new_customer_path %>
</div>
