<div class="crud_form">
<h1>Editing nation</h1>

<% form_for(@nation) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @nation %> |
<%= link_to 'Back', nations_path %>
</div>
