<div class="crud_form">
<h1>Editing slug_navigator</h1>

<% form_for(@slug_navigator) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :slug_id %><br />
    <%= f.text_field :slug_id %>
  </p>
  <p>
    <%= f.label :parent_id %><br />
    <%= f.text_field :parent_id %>
  </p>
  <p>
    <%= f.label :alt %><br />
    <%= f.text_field :alt %>
  </p>
  <p>
    <%= f.label :content %><br />
    <%= f.text_field :content %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @slug_navigator %> |
<%= link_to 'Back', slug_navigators_path %>
</div>
