<div class="crud_form">
<h1>Nuovo <i>Ruolo</i></h1>

<% form_for(@role) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name, "Nome" %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Crea' %>
  </p>
<% end %>

<%= link_to 'Lista <i>Ruoli</i>', roles_path %>
</div>
