<div class="crud_form">
<h1>Editing pubblication</h1>

<% form_for(@pubblication) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :advertisement_id %><br />
    <%= f.select :advertisement_id, @advertisements %>
  </p>
  <p>
    <%= f.label :photo_id %><br />
    <%= f.select :photo_id, @photos %>
  </p>
  <p>
    <%= f.check_box :promote %>
    <%= f.label :promote %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @pubblication %> |
<%= link_to 'Back', pubblications_path %>
</div>
